<nav class="navbar sticky-top mb-0 py-0" style="border: 0">
  <div class="container-fluid px-0">
    <ul class="nav flex-column col-12">
      <li class="bg-dark py-3">
        <h1 class="nav-title pl-2"> <span class="bug-title" >Bug</span> Smacker</h1>
      </li>
      <li class="py-3 second-nav">
        <button id="navbtn" class="btn nav-btn btn-lg fs-2">&#9776;</button>
      </li>
    </ul>
  </div>
</nav>