<div class="bg-dark py-3">
  <h1 class="nav-title pl-2"> <span class="bug-title" >Bug</span> Smacker</h1>
</div>
<div class="py-3 second-nav">
  <button id="navbtn" class="btn nav-btn btn-lg fs-2">&#9776;</button>
</div>