<% if flash[:notice] %>
  <div class="alert alert-success fs-4" style="margin-bottom: 0px" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger fs-4" style="margin-bottom: 0px" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>