<div class="container-fluid text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-8 col-xxl-6">
      <h1 class="title" >New Ticket</h1>
      <hr>
      <div class="ticket-card">
        <div class="px-4 py-3 ticket-card-body">
          <%= render 'ticket_form', ticket: @ticket %>
        </div>
      </div>
      <div class="mt-2">
        <% if @trial_mode %>
          <%= link_to 'Back to Project', trial_project_path(@project.id), class: "fs-3 mx-3" %>
        <% else %>
          <%= link_to 'Back to Project', project_dashboard_path(@project.id), class: "fs-3 mx-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>