// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$transp-grey-color: #131314d3;

// Table styles

tr {
  background-color: $transp-grey-color !important;
  color: white !important;
}

// Link styles

a:link {
  text-decoration: none;
  color: white !important;
}

a:hover,
a:visited {
  background-color: transparent !important;
  color: white !important;
}

.ticket-card {
  h1 {
    background-color: #353535;
  }

  tr {
    background-color: transparent !important;
  }
}

.ticket-card-body {
  background-color: #3f3f3fc9 !important;
}

// Icon style

.arrow {
  background-color: #3f3f3fc9 !important;
}
